<!-- layout('partials/boilerplate') %> -->
<form action="/suppliers" method="post">
    <label for="name">supplier name</label>
    <input type="text" name="name" id="name" placeholder="input your supplier name">
    <br>
    <br>
    <label for="contact">supplier contact</label>
    <input type="email" name="contact" id="contact" placeholder="input the email of your supplier">
    <br>
    <br>
    <label for="city">select supplier location (city)</label>
    <select name="city" id="city">
        <% for( city of cities ) { %>
            <option value="<%= city %>"><%= city %></option>
        <% } %>
    </select>
    <br>
    <br>
    <button>SAVE</button>
</form>
<br>
<button><a href="/suppliers">back</a></button>